---
---
<footer class="footer">
  <div class="footer-left">
    <a href="/privacy">Privacy Policy</a>
    <a href="/accessibility">Accessibility Statement</a>
  </div>
  <div>© 2026 by Hoang Nguyen</div>
</footer>
