---
---
<footer class="footer">
  <div class="footer-left">
    <a href="/privacy-policy">Privacy Policy</a>
    <a href="/accessibility-statement">Accessibility Statement</a>
  </div>
  <div>© 2024 by Hoang Nguyen</div>
</footer>
