---
interface Props {
  activePage?: 'home' | 'blog';
  borderBottom?: boolean;
}
const { activePage, borderBottom = false } = Astro.props;
---
<nav class:list={['nav', { 'border-bottom': borderBottom }]}>
  <a class="nav-brand" href="/">
    <span>HOANG NGUYEN</span>
    <span>PLAYGROUND</span>
  </a>
  <div class="nav-links">
    <a href="/blog" class:list={[{ active: activePage === 'blog' }]}>Blog</a>
    <a href="/" class:list={[{ active: activePage === 'home' }]}>Home</a>
  </div>
</nav>
