---
---
<div class="wordmark" aria-hidden="true">
  <div class="marquee-track">
    <span class="wordmark-word">hoangnguyen.me</span>
    <span class="wordmark-word outline">hoangnguyen.me</span>
    <span class="wordmark-word">hoangnguyen.me</span>
    <span class="wordmark-word outline">hoangnguyen.me</span>
    <span class="wordmark-word">hoangnguyen.me</span>
    <span class="wordmark-word outline">hoangnguyen.me</span>
    <span class="wordmark-word">hoangnguyen.me</span>
    <span class="wordmark-word outline">hoangnguyen.me</span>
  </div>
</div>
